<% 
  require 'rack/utils'

  # DEBUG
  # puts "remember_credentials:"
  # p remember_credentials
%>

<FORM name="form1" METHOD="get" action="<%= request.path_info %>?">
  <INPUT TYPE="HIDDEN" NAME="chal" VALUE="<%= params['challenge'] %>">
  <INPUT TYPE="HIDDEN" NAME="uamip" VALUE="<%= params['uamip'] %>">
  <INPUT TYPE="HIDDEN" NAME="uamport" VALUE="<%= params['uamport'] %>">
  <INPUT TYPE="HIDDEN" NAME="userurl" VALUE="<%= params['userurl'] %>">
  <table>
    <tbody>
      <tr>
        <th scope="row"><%= t.username.short.capitalize %>:</td>
        <td><input type="text" name="UserName" size="16" maxlength="255" value="<%= request.cookies['UserName'] %>"></td>
      </tr>
      <tr>
        <th scope="row">Password:</td>
        <td><input type="password" name="Password" size="16" maxlength="255" value="<%= request.cookies['Password'] %>"></td>
      </tr>
      <tr>
        <td id="submit-container">
          <input type="submit" name="login" value="<%= t.login.you!.capitalize %>">
        </td>
        <td style="padding: none; text-align:right; font-style:italic; vertical-align:top; color:#444">
          <% if remember_credentials %> <%= t.remember_me.capitalize %> <input type="checkbox" checked name="remember_me" style="margin:none"/><% end %> 
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div style="height:1ex;"> <!-- separator --> </div>

<% if signup_url =~ /\S/ %>
  <span id="signup-container">
    <%= t.account.dont_have.you.capitalize %>?
    <a id="signup" href="<%= signup_url %>?redirect=<%= Rack::Utils.escape params['userurl'] %>"><%= t.signup.you!.capitalize %></a>
  </span>
<% end %>
<% if password_recovery_url =~ /\S/ %>
  <div id="password-recovery-container">
    <%= t.password.forgot.capitalize %>?
    <a id="password-recovery" href="<%= password_recovery_url %>"><%= t.password.recovery.you!.capitalize.gsub(/\s/, '&nbsp;') %></a>
  </div>
<% end %>

