<FORM name="form1" METHOD="get" action="<%= request.path_info %>?">
  <INPUT TYPE="HIDDEN" NAME="chal" VALUE="<%= params['challenge'] %>">
  <INPUT TYPE="HIDDEN" NAME="uamip" VALUE="<%= params['uamip'] %>">
  <INPUT TYPE="HIDDEN" NAME="uamport" VALUE="<%= params['uamport'] %>">
  <INPUT TYPE="HIDDEN" NAME="userurl" VALUE="<%= params['userurl'] %>">
  <table>
    <tbody>
      <tr>
        <th scope="row">Login:</td>
        <td><input type="text" name="UserName" size="16" maxlength="255"></td>
      </tr>
      <tr>
        <th scope="row">Password:</td>
        <td><input type="password" name="Password" size="16" maxlength="255"></td>
      </tr>
      <tr> <!-- yeah, it's horrible -->
        <td colspan="2" id="submit-container">
          <input type="submit" name="login" value="Login">
        </td>
      </tr>
    </tbody>
  </table>
</form>
<% if signup_url =~ /\S/ %><span id="signup-container">
  Don't have an account?
  <a id="signup" href="<%= signup_url %>" target="_blank">Signup!</a>
</span><% end %>

