<%
  require 'hotspotlogin/app/helpers'
%>

<h1><%= titel %></h1>
<% if [1, 4, 12].include? result %>
  <div style="text-align: center;">
    <a href="http://<%= uamip %>:<%= uamport %>/logoff">Logout</a>
    <a href="#" onClick="javascript:chilliController.refresh();">Refresh</a>
  </div>
<% elsif [2, 5].include? result %>
  <%= 
    erb(
      :_login_form,
      :layout => false
    )  
  %>
<% elsif [3, 13].include? result %>
  <div style="text-align: center;">
    <a href="http://<%= uamip %>:<%= uamport %>/prelogin">
      Login
    </a>
  </div>
<% elsif result == 11 %>
  <p>Please wait.. </p> <!-- popup1 -->
<% elsif result == 0 %>
  <p>Login must be performed through ChilliSpot daemon!</p>
<% end %>

<% if params['reply'] %>
  <div style="text-align: center;"><%= params['reply'] %></div>
<% end %>

<% if status_window?(result) %>
  <div id="status-container">
    <table id="status-table">
      <tbody>
        <tr>
          <th scope="row">Username</th>
          <td id="userName"></td>
        <tr>
          <th scope="row">Client State</th>
          <td id="clientState"></td>
        </tr>
        <tr>
          <th scope="row">Session Time</th>
          <td id="sessionTime"></td>
        </tr>
        <tr>
          <th scope="row">Download Traffic</th>
          <td id="download"></td>
        </tr>
        <tr>
          <th scope="row">Upload Traffic</th>
          <td id="upload"></td>
        </tr>
        <tr>
          <th scope="row" class="optinfo">Automatically updated every</th>
          <td id="interval"></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

