<% 
  # TODO: use HotSpotLogin::Result constants instead of numerical values

  require 'hotspotlogin/constants'

  loginpath = request.path_info
%>

<!DOCTYPE html>
<html>
  <head>
    <title><%= titel %></title>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <script language="JavaScript">
      var blur = 0;
      var starttime = new Date();
      var startclock = starttime.getTime();
      var mytimeleft = 0;
      function popUp(URL) {
        if (self.name != "chillispot_popup") {
          chillispot_popup = window.open(URL, 'chillispot_popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=500,height=375');
        }
      }

      function doOnLoad(result, URL, userurl, redirurl, timeleft) {
        if (timeleft) {
          mytimeleft = timeleft;
        }
        if ((result == 1) && (self.name != "chillispot_popup")) {
          chillispot_popup = window.open(URL, 'chillispot_popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=500,height=375');
        }
        if ((result == 2) || result == 5) {
          document.form1.UserName.focus()
        }
        if ((result == 2) && (self.name != "chillispot_popup")) {
          chillispot_popup = window.open('', 'chillispot_popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=1,width=400,height=200');
          chillispot_popup.close();
        }
        if ((result == 12) && (self.name == "chillispot_popup")) {
          if (redirurl) {
            opener.location = redirurl;
          }
          else if (opener.home) {
            opener.home();
          }
          else {
            opener.location = "about:home";
          }
          self.focus();
          blur = 0;
        }
        if ((result == 13) && (self.name == "chillispot_popup")) {
          self.focus();
          blur = 1;
        }
      }

      function doOnBlur(result) {
        if ((result == 12) && (self.name == "chillispot_popup")) {
          if (blur == 0) {
            blur = 1;
            self.focus();
          }
        }
      }
    </script>

    <!-- CovaChilli JSON interface -->
    <script type="text/javascript" src="hotspotlogin/js/ChilliLibrary.js">
    </script>

    <script language="JavaScript">
/*
 // If you use non standard configuration, define your configuration 
 chilliController.host = "10.0.0.1";  // Default is 192.168.182.1
 chilliController.port  = 4003     ; //  Default is 3990
 chilliController.interval = 60    ; // Default is 30 seconds
  
 // then define event handler functions
 chilliController.onError  = handleErrors;
 chilliController.onUpdate = updateUI ;
    
 // when the reply is ready, this handler function is called
 function updateUI( cmd ) {
  
    alert ( ‘You called the method' + cmd + '\n Your current state is =’ + chilliController.clientState ) ;
  
 }
  
 // If an error occurs, this handler will be called instead
 function handleErrors ( code ) {
  
   alert ( 'The last contact with the Controller failed. Error code =' + code );
     
 }
 //  finally, get current state
 chilliController.refresh() ;
*/      
    </script>

  </head>

  <body onLoad="javascript:doOnLoad(<%= result %>, '<%= request.path_info %>?res=popup2&uamip=<%= uamip %>&uamport=<%= uamport %>&userurl=<%= userurl %>&redirurl=<%= redirurl %>&timeleft=<%= timeleft %>','<%= userurl %>', '<%= redirurl %>', '<%= timeleft %>')" onBlur="javascript:doOnBlur(<%= result %>)">
    <div style='text-align: right; font-style: italic; margin-right: 3em; font-family: sans-serif; font-size:small;'>
      Powered by <a href="http://rubygems.org/gems/hotspotlogin">hotspotlogin.rb</a>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>

